/**************** HEADER *****************/
header{
    height: 60px;
}

.my_row{
    width: 100%;
}
/**************** NAV *****************/

/**************** HEADER *****************/





/**************** MAIN *****************/

/**************** JUMBO *****************/
#jumbo{
    height: 500px;
}

#jumbo img{
    width: 100%;
    height: 100%;
}   

/**************** PORFOLIO *****************/
#portfolio img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/**************** ABOUT *****************/

/**************** CONTACT *****************/

/**************** MAIN *****************/





/**************** FOOTER *****************/

/**************** FOOTER_TOP *****************/

/**************** FOOTER_BOT *****************/

/**************** FOOTER *****************/